@import url('https://fonts.googleapis.com/css?family=Ruda:900');

body {
  font-family: 'Poppins', sans-serif;
  background-image: url(//www.toptal.com/designers/subtlepatterns/patterns/symphony.png);
  background-position: bottom;
  animation: 4s linear 0s infinite bp;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
}
.button{
    text-decoration: none;
    margin: 20px 10px;
    border: 1px solid black;
    padding: 10px;
}
.button:hover{
    cursor: pointer;;
    background-color: blue;
    color: azure;
}
.link{
    color: rgb(255, 255, 255);
    background-color: rgb(218, 34, 34);
}
.btn{
    background-color: black;
    color: white;
}
.wrapper h1{
    padding: 20px;
    
}
@keyframes bp {
  from {
    background-position:  198px 0;
  }
  
  to {
    background-position:  0 198px;
  }
}

html, body {
  height: 100%;
  margin: 0;
}

.text {
  font: 900 18px Ruda;
  color: #C08;
  background: white;
  display: inline-block;
  padding: 1rem;
}
